{%extends 'parts/detail_temp.html' %}

{%block title%}الطلاب {%endblock title%}
{% block pagename %}الطلاب{% endblock pagename %}
{% block thead %}
    <tr stye="background-color: steelblue;">
        <th scope="col">الكود</th>
        <th scope="col">اسم الطالب</th>
        <th scope="col">الرقم القومى</th>
        <th scope="col">العنوان</th>
        <th scope="col">رقم التليفون</th>
        <th scope="col">رقم الهاتف المنزلى</th>
        <th scope="col">التعديل</th>
        <th scope="col">الحذف</th>
    </tr>
{% endblock thead %}
{% block tbody %}
  
<tbody>
    {% for student in students %}
    <tr>
        <td><a href="{%url 'student_details' student.pk%}"> {{student.pk}}</a></td>
        <td><a href="{%url 'student_details' student.pk%}"> {{student.name}}</a></td>
        <td> {{student.n_id}}</td>
        <td> {{student.address}}</td>
        <td> {{student.phone}}</td>
        <td> {{student.home_number}}</td>
        <td> <a class="btn btn-warning" href="{%url 'student_update' student.pk %}">تعديل</a></td>
        <td> <a class="btn btn-danger" href="{%url 'student_delete' student.pk%}">حذف</a></td>
    </tr>
    {% endfor %}
{% endblock tbody %}

