{%extends 'parts/detail_temp.html' %}
{% block title %}
الموظفين
{% endblock title %}
{% block pagename %}
الموظفين
{% endblock pagename %}
{% block thead %}
    <tr style="background-color: steelblue;">
        <th>اسم الموظف</th>
        <th>الرقم القومى</th>
        <th>العنوان</th>
        <th>رقم التليفون</th>
        <th>رقم الهاتف المنزلى</th>
        <th>الراتب</th>
        <th>التعديل</th>
        <th>الحذف</th>
    </tr>
{% endblock thead %}
{% block tbody %}
  
{% for manager in page_obj %}
<tr>
    <td><a href=""> {{manager}}</a></td>
    <td> {{manager.n_id}}</td>
    <td> {{manager.address}}</td>
    <td> {{manager.phone}}</td>
    <td> {{manager.home_number}}</td>
    <td> {{manager.salary}}</td>
    <td> <a class="btn btn-warning" href="{%url 'manager_update' manager.pk %}">تعديل</a></td>
    <td> <a class="btn btn-danger" href="{%url 'manager_delete' manager.pk%}">حذف</a></td>
</tr>
{% endfor %}
{% endblock tbody %}



