{%extends 'parts/detail_temp.html' %}
{% block title %}
المحفظين
{% endblock title %}
{% block pagename %}
المحفظين
{% endblock pagename %}
{% block print_title %}المحفظين{%endblock print_title%}
{% block thead %}
    <tr style="background-color: steelblue;">
        <th scope="col">الكود</th>
        <th scope="col">اسم المحفظ</th>
        <th scope="col">الرقم القومى</th>
        <th scope="col">العنوان</th>
        <th scope="col">رقم التليفون</th>
        <th scope="col">رقم الهاتف المنزلى</th>
        <th class="haslink" scope="col">التعديل</th>
        <th class="haslink" scope="col">الحذف</th>
    </tr>
{% endblock thead %}

{% block tbody %}
    {% for teacher in page_obj %}
        <tr>
            <td ><a href="{%url 'teacher_details' teacher.id%}"> {{teacher.id}}</a></td>
            <td>
                <a href="{%url 'teacher_details' teacher.id%}"> 
                    {{teacher}}
                </a>
            </td>
            <td> {{teacher.n_id}}</td>
            <td> {{teacher.address}}</td>
            <td> {{teacher.phone}}</td>
            <td> {{teacher.home_number}}</td>
            <td class="haslink"> <a class="btn btn-warning" href="{%url 'teacher_update' pk=teacher.pk %}">تعديل</a></td>
            <td class="haslink"> <a class="btn btn-danger" href="{%url 'teacher_delete' pk=teacher.pk  next=request.get_full_path%}">حذف</a></td>
        </tr>
    {% endfor %} 
{% endblock tbody %}