{%extends 'parts/base.html' %}
{%load poll_extras%}
{%block title%} بيانات المحفظ {{teacher.name}} {%endblock title%}
{%block body%}    
<div  >
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active"><h1> بيانات المحفظ {{teacher.name}}</h1></li>
        </ol>
        
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th scope="col">الايام</th>
                <th scope="col">الحلقات</th>
                <th scope="col">عدد الطلاب بالحلقة</th>
                <th scope="col">عرض الطلاب</th>
                <th scope="col">اضافة حلقة</th>
                <th scope="col">اضافة طالب بالحلقة</th>
                <th scope="col">تعديل الحلقة</th>
                <th scope="col">حذف الحلقة</th>
            </tr>
            </thead>
            <tbody>
                {%for day in days%}
                {%for session in day|get_sessions_day:teacher.id%}
                <tr>
                    <td style="background-color: #e9ecef;">
                        {{day}}
                    </td>

                    <td > 
                        <p style="border: 1px solid transparent; padding: 0.53rem 0.75rem;">{{session|format_session}}</p>
                        <hr>
                    </td>

                    <td> 
                        <p style="border: 1px solid transparent; padding: 0.53rem 0.75rem;">{{session|get_students_session}}</p>
                        <hr>
                    </td>

                    <td> 
                        {%if session != 'لا يوجد'%}
                        <a class="btn btn-primary" href="{%url 'students_in_session' session.pk%}">عرض الطلاب</a>
                        {%endif%}
                        <hr>
                    </td>  

                    <td> 
                        <a class="btn btn-success" href="{% url 'session_create'  day=day.pk teacher=teacher.pk next=request.get_full_path%}">اضافة حلقة</a>
                        <hr>
                        
                    </td>

                    <td>
                        {%if session != 'لا يوجد'%}
                        <a class="btn btn-success" href="{% url 'student_session_create' session=session.pk next=request.get_full_path%}">اضافة طالب بالحلقة</a>
                        {%endif%}
                        <hr>
                    </td>

                    <td>
                        {%if session != 'لا يوجد'%}
                        <a class="btn btn-warning" href="{% url 'session_update' pk=session.pk next=request.get_full_path%}">تعديل</a>
                        {%endif%}
                        <hr>
                    </td>

                    <td> 
                        {%if session != 'لا يوجد'%}
                        <a class="btn btn-danger" href="{%url 'session_delete' pk=session.pk next=request.get_full_path%}">حذف</a>
                        {%endif%}
                        <hr>
                    </td>
                </tr>
                {%endfor%}
                {% endfor %}
                
            </tbody>
        </table>
    </div>


{%endblock body%}