{%extends 'parts/detail_temp.html' %}
{% block title %}
المحفظين
{% endblock title %}
{% block pagename %}
المحفظين
{% endblock pagename %}
{% block thead %}
    <tr style="background-color: steelblue;">
        <th>الكود</th>
        <th>اسم المحفظ</th>
        <th>الرقم القومى</th>
        <th>العنوان</th>
        <th>رقم التليفون</th>
        <th>رقم الهاتف المنزلى</th>
        <th>التعديل</th>
        <th>الحذف</th>
    </tr>
{% endblock thead %}

{% block tbody %}
    {% for teacher in page_obj %}
        <tr>
            <td ><a class="btn btn-info btn-sm" href="{%url 'teacher_details' teacher.id%}"> {{teacher.id}}</a></td>
            <td>
                <a href="{%url 'teacher_details' teacher.id%}"> 
                    {{teacher}}
                </a>
            </td>
            <td> {{teacher.n_id}}</td>
            <td> {{teacher.address}}</td>
            <td> {{teacher.phone}}</td>
            <td> {{teacher.home_number}}</td>
            <td > <a class="btn btn-warning" href="{%url 'teacher_update' pk=teacher.pk %}">تعديل</a></td>
            <td> <a class="btn btn-danger" href="{%url 'teacher_delete' pk=teacher.pk %}">حذف</a></td>
        </tr>
    {% endfor %} 
{% endblock tbody %}