{%extends 'parts/base.html' %}
{%load poll_extras%}
{%block title%} بيانات المحفظ {{teacher.name}} {%endblock title%}
{%block body%}    
<div  >
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active"><h1> بيانات المحفظ {{teacher.name}}</h1></li>
        </ol>
        
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
            <tr>
                <th>الايام</th>
                <th>الحلقات</th>
                <th>عدد الطلاب بالحلقة</th>
                <th>عرض الطلاب</th>
                <th>اضافة حلقة</th>
                <th>اضافة طالب بالحلقة</th>
                <th>تعديل الحلقة</th>
                <th>حذف الحلقة</th>
            </tr>
            </thead>
            <tbody>
                {%for day in days%}
                <tr>
                    <td style="background-color: #e9ecef;">
                        {{day}}
                    </td>
                    <td > 
                        {%for session in day|get_sessions_day:teacher.id%}
                            <p style="border: 1px solid transparent; padding: 0.53rem 0.75rem;">{{session|format_session}}</p>
                            <hr>
                        {%endfor%}
                    </td>

                    <td> 
                        {%for session in day|get_sessions_day:teacher.id%}
                        <p style="border: 1px solid transparent; padding: 0.53rem 0.75rem;">{{session|get_students_session}}</p>
                        <hr>
                        {%endfor%}
                    </td>
                    <td> 
                        {%for session in day|get_sessions_day:teacher.id%}
                        {%if session != 'لا يوجد'%}
                        <a class="btn btn-primary" href="{% url 'student_session_create' session=session.pk next=suc_url%}">عرض الطلاب</a>
                        {%endif%}
                        <hr>
                        {%endfor%} 
                    </td>                    
                    <td> 
                        <a class="btn btn-success" href="{% url 'session_create'  day=day.pk teacher=teacher.pk next=suc_url%}">اضافة حلقة</a>
                        <hr>
                        

                    </td>
                    <td>
                        {%for session in day|get_sessions_day:teacher.id%}
                        {%if session != 'لا يوجد'%}
                        <a class="btn btn-success" href="{% url 'student_session_create' session=session.pk next=suc_url%}">اضافة طالب بالحلقة</a>
                        {%endif%}
                        <hr>
                        {%endfor%} 
                    </td>
                    <td>
                        {%for session in day|get_sessions_day:teacher.id%}
                        {%if session != 'لا يوجد'%}
                        <a class="btn btn-warning" href="{% url 'session_update' pk=session.pk next=suc_url%}">تعديل</a>
                        {%endif%}
                        <hr>
                        {%endfor%} 
                    </td>
                    <td> 
                        {%for session in day|get_sessions_day:teacher.id%}
                        {%if session != 'لا يوجد'%}
                        <a class="btn btn-danger" href="{%url 'session_delete' pk=session.pk next=suc_url%}">حذف</a>
                        {%endif%}

                        <hr>
                        {%endfor%} 
                    </td> 
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>


{%endblock body%}