footer{
        margin: 0;
        padding: 0;
        color: #d9d9d9;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration:none;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background: #111;
    }
    footer .main{
        display: flex;
    
    }
    footer .main .box{
        flex-basis: 50%;
        padding: 10px 20px;
        overflow: auto;
    }
    footer   .box h2 {
        font-size: 1.125rem;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: 3px solid  rgb(255, 70, 3);
        letter-spacing: 5px;
        color: rgba(216, 8, 8, 0.829);
        width: 180px;
    
    }
    footer .box{
        border-left:1px solid rgb(255, 70, 3);
    }
    footer .main .boxn {
        border: none;
    }
    footer .box .content{
        margin: 20px 0 0 0 ;
    
    }
    footer.center .social{
        margin: 20px 0 0 0;
        text-align: center;
    
    }
    footer .social a{
    padding: 0 2px;
    }
    footer .social a span {
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        border-radius: 25px ;
        -webkit-border-radius: 25px ;
        -moz-border-radius: 25px ;
        -ms-border-radius: 25px ;
        -o-border-radius: 25px ;
    }
    .fb {
        background: #1418ff;
        border-color: #250ef3;    
        color: white;
    }
    .ins{
        color: white;
        background-color: #e7165c;
        border-color: #df2060;
    }
    .yt{
        color: white;
        background-color: #fc0404;
        border-color: #ac0c0c;
    }
    .tw{
        background: #1da1f2;
        border-color: #0e9af1;
        color: white;
    }
    footer input[type = "email"]{
        border: 0em;
        background: none;
        border: 1px solid rgb(43, 42, 42);
        padding: 2px 0 ;
        font-size: 15px;
        color: white;
        width: 95%;
        border: 1px solid rgb(255, 70, 3);
        border-radius:5px ;
    
    }
    footer textarea{
        border: 0em;
        background: none;
        border: 1px solid rgb(43, 42, 42);
        color: white;
        font-size: 13px;
        width: 95%;
        border: 1px solid rgb(255, 70, 3);
    
        border-radius:5px ;
    
    }
    
    footer .btn button{
        border: 0em;
        background: none;
        display: block;
        border:none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 800;
        padding: 10px 40px;
        outline: none;
        color: white;
        border-radius:5px ;
        -webkit-border-radius:5px ;
        -moz-border-radius:5px ;
        -ms-border-radius:5px ;
        -o-border-radius:5px ;
        cursor: pointer;
        border: 2px solid rgb(255, 70, 3);
        width: 100%;
    }
    .btn button:hover{
        background: rgb(255, 70, 3);
    }
    .abdo{
        font-weight: 700;
    }
    .moh{
        font-weight: 700;
    }
    .copy{
        text-align: center;
    }.cpy{
        color: red;
    }