{%extends 'parts/base.html' %}

{%block title%} الغرف {%endblock title%}
{%block body%}    
<div  >
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active"><h1>الغرف</h1></li>
        </ol>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#example-modal">
            اضافة غرفة
        </button>
        {%include 'parts/dialog_form.html'%}        
        <table class="table">
            <thead class="thead-white">
            <tr style="background-color: steelblue;">
                <th scope="col">كود الغرفة</th>
                <th scope="col">اسم الغرفة</th>
                <th scope="col">اسم الفرع</th>
                <th scope="col">تعديل</th>
                <th scope="col">الحذف</th>
            </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <td>{{room.pk}}</td>
                    <td>{{room}}</td>
                    <td>{{room.branch}}</td>
                    <td> <a class="btn btn-warning" href="{%url 'room_update' room.pk%}">التعديل</a></td>
                    <td> <a class="btn btn-danger" href="{%url 'room_delete' room.pk%}">حذف</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{%endblock body%}