{%extends 'parts/base.html' %}

{%block title%} Login {%endblock title%}
{%block body%}
{% if user.is_authenticated %}
<meta http-equiv = "refresh" content = "0; url = {%url 'index'%}" />
{%else%}
<div  style="margin-right: -13%">
    <section class=" container position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="font-weight-bold">تسجيل الدخول</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                </svg></div>

                            <form method="post" novalidate style="margin-top:5%;">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{next}}">
                                {%include 'parts/form.html'%}
                                <button type='submit' class="btn btn-primary d-block w-100">دخول</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endif %}

{%endblock body%}