{%load static %}
<html dir="rtl" lang="ar">
    
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock title%}</title>
    <link rel="icon" type="image/png" href="{%static 'favico.png'%}">
    <link rel="stylesheet" href="{%static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}">
    <link rel="stylesheet" href="{%static 'css/Login-Form-Basic.css' %}">
    <link rel="stylesheet" href="{%static 'css/w3.css' %}">

</head>

<body class="text-right" style="background-color: rgb(233, 233, 233); ">
    {% include 'parts/navbar.html'%}
    <div class="content " style=" margin:0 13% 20px 5%;">

    {%block body%}

    {%endblock body%}
</div>
<script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
<script src="{%static 'js/jquery.min.js'%}"></script>

</body>

</html>