{%load static %}
{%load poll_extras%}

{%if user.is_authenticated%}
{% comment %}
SideBar
{% endcomment %}

  <div id="#navbar" class="w3-sidebar w3-bar-block w3-card csidebar">
    <h3>دار الحمد</h3>
    <hr>
    <a href="{%url 'index'%}" class="w3-bar-item w3-button">الصفحة الرئيسية</a>
    <a href="{%url 'days'%}" class="w3-bar-item w3-button">الجدول الاسبوعى</a>
    {%if user.is_superuser%}
      <a href="/admin" class="w3-bar-item w3-button">لوحة المسؤول</a>
    {% endif %}
    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc('demoAcc')">
      الموظفين <img src="{%static 'icons/angle-arrow-down.png'%}" style="width:10px; color:aliceblue">
    </button>
    <div id="demoAcc" class="w3-hide w3-white w3-card">
      <a href="{%url 'manager'%}" class="w3-bar-item w3-button">عرض الموظفين</a>
      <a href="{%url 'manager_create'%}" class="w3-bar-item w3-button">اضافة موظف</a>
      <a href="#" class="w3-bar-item w3-button">الدخول الخروج</a>
    </div>
    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc('demoAcc2')">
      المحفظين <img src="{%static 'icons/angle-arrow-down.png'%}" style="width:10px;">
    </button>
    <div id="demoAcc2" class="w3-hide w3-white w3-card">
      <a href="{%url 'teacher'%}" class="w3-bar-item w3-button">عرض المحفظين</a>
      <a href="{%url 'teacher_create'%}" class="w3-bar-item w3-button">اضافة محفظ</a>
      <a href="#" class="w3-bar-item w3-button">الدخول الخروج</a>
    </div>
    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc('demoAcc3')">
      الحلقات <img src="{%static 'icons/angle-arrow-down.png'%}" style="width:10px;">
    </button>
    <div id="demoAcc3" class="w3-hide w3-white w3-card">
      <a href="{%url 'session'%}" class="w3-bar-item w3-button">عرض الحلقات</a>
      <a href="{%url 'session_create'%}" class="w3-bar-item w3-button">اضافة حلقة</a>
      <a href="#" class="w3-bar-item w3-button">الدخول الخروج</a>
    </div>
    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc('demoAcc4')">
      الطلاب <img src="{%static 'icons/angle-arrow-down.png'%}" style="width:10px;">
    </button>
    <div id="demoAcc4" class="w3-hide w3-white w3-card">
      <a href="{%url 'student'%}" class="w3-bar-item w3-button">عرض الطلاب</a>
      <a href="{%url 'student_create'%}" class="w3-bar-item w3-button">اضافة طالب</a>
      <a href="#" class="w3-bar-item w3-button">الدخول الخروج</a>
    </div>
    <a href="{%url 'room'%}" class="w3-bar-item w3-button">الغرف</a>
    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc('demoAcc5')">
      الدخول الخروج <img src="{%static 'icons/angle-arrow-down.png'%}" style="width:10px;">
    </button>
    <div id="demoAcc5" class="w3-hide w3-white w3-card">
      <a href="{%url 'student'%}" class="w3-bar-item w3-button">الموظفين</a>
      <a href="{%url 'student_create'%}" class="w3-bar-item w3-button">المحفظين</a>
      <a href="#" class="w3-bar-item w3-button">الطلاب</a>
    </div>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <hr>
    <a href="{%url 'logout'%}" class="w3-bar-item w3-button">تسجيل الخروج</a>
    <p style="text-align:center">{% now "jS F Y H:i" %}</p>
  </div>

  {% comment %}
    NavBar
  {% endcomment %}
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:rgb(216, 216, 216); margin-right:12%;"dir="ltr">
    <a class="navbar-brand" href="#" dir="rtl">مرحباً {{user}}</a>
    <div class=" navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      </ul>
      {% if search_bar %}
      <form dir="rtl" class="form-inline my-2 my-lg-0" style1="display: flex !important;">
        <input  class="form-control mr-sm-2" type="text" placeholder="بحث.." name="search"
        {% if search %} value="{{ search }}" {% endif %}
        >
        <button style='width:85px; margin-right:10px;'class="btn btn-outline-info my-2 my-sm-0" type="submit">بحث</button>
      </form>
      {% endif %}
    </div>
  </nav>




  <script>
    function myAccFunc(element_id) {
      var x = document.getElementById(element_id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
      } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
      }
    }
    function w3_open() {
      document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
      document.getElementsByClassName("w3-overlay")[0].style.display = "block";
  }
  function w3_close() {
      document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
      document.getElementsByClassName("w3-overlay")[0].style.display = "none";
  }
    function hide_show_nav(element_id) {
      if (element_id.style.display == 'block') {
        document.getElementById(element_id).style.display = 'none';
      }else{
        document.getElementById(element_id).style.display = 'block';
      }
    }
  </script>
{%endif %}

